In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
print("Hello developers")

Hello developers

In [6]:
#numpy : numeric python

list = [1,2,3,4,5,6,7,8,9]
%timeit [i ** 2 for i in list]

2.67 µs ± 48.9 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [4]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [5]:
import numpy as np

In [9]:
arr = np.array(list)
arr
%timeit arr ** 2

786 ns ± 278 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [11]:
arr1 = np.random.randint(10,100, size=(5,6))
arr1

array([[70, 36, 90, 99, 61, 79],
       [64, 75, 83, 63, 29, 41],
       [33, 19, 20, 84, 57, 49],
       [71, 21, 85, 40, 65, 54],
       [30, 72, 35, 68, 93, 10]])

In [16]:
#pandas

In [12]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [14]:
import pandas as pd
df =pd.DataFrame(data=arr1)
df

    0   1   2   3   4   5
0  70  36  90  99  61  79
1  64  75  83  63  29  41
2  33  19  20  84  57  49
3  71  21  85  40  65  54
4  30  72  35  68  93  10

In [15]:
#Matplotlib